@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap');
// fonts
$opensans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

// colors
$vdark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);

// screens
$mobile: 375px;
$desktop: 1440px;