// footer
footer {
	background-color: $vdark-blue;
	color: $lightgrayish-blue;
  padding-top: 6em;
  svg {
    margin-bottom: 2em;
}
a{
  color:$lightgrayish-blue;
}
ul li{
  margin-bottom:0.5em;
}
.phone{
  background: url(/dist/images/icon-phone.svg) no-repeat 0% 50%;
    padding-left: 2em;
    margin-bottom: 0.5em;
}
.email{
  background: url(/dist/images/icon-email.svg) no-repeat 0% 50%;
    padding-left: 2em;
}
#socialmedia{
  display: block;
  margin: 0 auto;
  width: 170px;
  li{
    float: left;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    padding: 0.5em;
    margin-right: 0.8em; }
}
p.attribution {
  margin-bottom: 0;
  padding-bottom: 0.4em;
}
}